﻿<style>
    body{
        background-image: url("/Content/Company-Overview.jpg");
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
@{
    ViewBag.Title = "Start";
}
<div style="position:relative; top:220px; left:12px;">
<h2>Introduction</h2>
</div>

<div style="position:relative; top: 185px; left: 600px;">
<iframe width="525" height="315" src="https://www.youtube.com/embed/3tPM_DahROg" frameborder="1" allowfullscreen></iframe>
    </div>
<br />
<div style="position:relative; top:200px; left:20px;">
   <h4>Welcome to the cool connection teasergame. You will play a simplified version of the actual game.<br />
    In this teasergame you will be faced with much of the same dilemma's you will face in the real game,<br />
    but here they are isolated to make it more accesible.<br /><br />
    Choose a dilemma in the orange bar at the top.</h4>
</div>

<div style="visibility:hidden;">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>