﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Cool Connection - Teasergame</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">hello</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse"  style="color:coral;">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Start", "Home")</li>
                    <li>@Html.ActionLink("Dilemma 1", "Index/1", "Home")</li>
                    <li>@Html.ActionLink("Dilemma 2", "Index/2", "Home")</li>
                    <li>@Html.ActionLink("Dilemma 3", "Index/3", "Home")</li>
                    <li>@Html.ActionLink("Dilemma 4", "Index/4", "Home")</li>
                </ul>
                <a href="https://www.thecoolconnection.org" target="_blank"><img src="~/Content/tcc-logo.jpg" style="width:200px;height:50px;margin-left:400px;" /></h4></a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The Cool Connection Teasergame</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
