﻿<head>
    <style type="text/css">
        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }
        .red{
            color: red;
        }
        .green{
            color: green;
        }
    </style>
</head>


@model WebApplication1.Models.AlignmentFeedbackModel

@{
    ViewBag.Title = "Feedback2";
}
<h2>Feedback2</h2>

<div>
@{
    if (IsPost)
    {
        var Correct = Model.Correct;
        var False = Model.False;
        var Missed = Model.Missed;

        foreach (int i in Correct)
        {
            @Html.Raw("You've Spotted the bad alignment in option " + i + "<br>");
        }
        foreach (int i in False)
        {
            if (i != 9)
            {
                @Html.Raw("There is no bad alignment in option " + i + "<br>");
            }
        }
        foreach (int i in Missed)
        {
            @Html.Raw("You missed a bad alignment in option " + i + "<br>");
        }
    }
}
</div>

<br />

<div>
@{
    int[] choice = new int[1] { 0 };
    int[] answers = new int[1] { 0 };
    if (Model != null && !int.Equals(Model.choice,null))
    {
        choice = Model.choice;
        answers = Model.answers;
    }
}
</div>


<div id="answers" class="@(choice[0] == 0 ? "hidden" : "visible")">
    <table style="width:50%;">
        <tr>
            <td><b>INCO - term </b></td>
            <td><b>Credit limit </b></td>
            <td><b>Payment Instrument </b></td>
            <td><b>Your Choices </b></td>
        </tr>
        @{  var id = 1;}
        <tr id="1" class="@(answers.Contains(id) ? "green" : "red")">
            <td>Cost Insurance and Freight</td>
            <td>+80 %</td>
            <td>Electronic Bank Transfer</td>
            <td><div id="21" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
        @{ id = 2;}
        <tr id="2" class="@(answers.Contains(id) ?  "green" : "red")">
            <td>Ex Works</td>
            <td>+80 %</td>
            <td>Cheque</td>
            <td><div id="22" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
        @{ id = 3;}
        <tr id="3" class="@(answers.Contains(id) ?  "green" : "red")">
            <td>Ex Works</td>
            <td>+40 %</td>
            <td>Letter of Credit</td>
            <td><div id="23" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
        @{ id = 4;}
        <tr id="4" class="@(answers.Contains(id) ? "green" : "red")">
            <td>Free on Board</td>
            <td>+0 %</td>
            <td>Letter of Credit</td>
            <td><div id="24" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
        @{ id = 5;}
        <tr id="5" class="@(answers.Contains(id) ? "green" : "red")">
            <td>Free on board</td>
            <td>+60 %</td>
            <td>Cheque</td>
            <td><div id="25" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
        @{ id = 6;}
        <tr id="6" class="@(answers.Contains(id) ? "green" : "red")">
            <td>Delivery duty paid</td>
            <td>+0 %</td>
            <td>Electronic Bank Transfer</td>
            <td><div id="26" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
        @{id = 7;}
        <tr id="7" class="@(answers.Contains(id) ? "green" : "red")">
            <td>Delivery Duty Paid</td>
            <td>+20 %</td>
            <td>Cheque</td>
            <td><div id="27" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
        @{id = 8;}
        <tr id="8" class="@(answers.Contains(id) ? "green" : "red")">
            <td>Cost Insurance and Freight</td>
            <td>+20 %</td>
            <td>Electronic Bank Transfer</td>
            <td><div id="28" class="@(choice.Contains(id) ? "visible" : "hidden")">X</div></td>
        </tr>
    </table>
</div>


<div id="NoInput" class="@(choice[0] == 0 ? "visible" : "hidden")">
    <br />
    <p>We have not received any input, go back to the hub and try again.</p>
</div>


<div>
    <br />
    <button onclick="location.href='/Home/Start'">back to the hub</button>
</div>