﻿@model WebApplication1.Models.CreditFeedbackModel


<head>
    <style type="text/css">
    .hidden {
        display: none;
    }
   .visible {
        display: block;
   }
</style>
</head>


 @{ var choice = Model.choice;}    

 
<div id="A" class="@(choice == "A" ? "visible" : "hidden")">
    <pre>                                                                                                     Last period     Previous period     Difference

    <img src="~/Content/income_1A.jpg"></pre>
    <h3> Impact of your choice </h3>
    <p>
        Because Giga-Mart has to pay in 4 weeks instead of 7 weeks, their credit position frees up earlier<br>
        which allowes for new orders.This leads to more products sold to Giga - Mart, but these products <br>
        are sold at a lower price due to a decrease in the contract index.Because The Cool Connection <br>
        receives it's payments earlier, there is less need for emergency loans. <br><br>
    </p>
    <p>Note that the amount of products sold has increased by a lot.Make sure to increase production to avoid penalties for not being able to deliver sold goods.</p>
    
    <div>
        <table style="width:50%;">
            <tr>
                <td></td>
                <td><b>Prediction</b></td>
                <td><b>Reality</b></td>
            </tr>
            <tr>
                <td><b>Financing Needs</b></td>
                <td><div>@Model.FinancingNeeds</div></td>
                <td><div>@Model.RealFinancingNeeds</div></td>
            </tr>
            <tr>
                <td><b>Sales Price</b></td>
                <td><div>@Model.SalesPrice</div></td>
                <td><div>@Model.RealSalesPrice</div></td>
            <tr>
                <td><b>Insurance Costs</b></td>
                <td><div>@Model.InsuranceCosts</div></td>
                <td><div>@Model.RealInsuranceCosts</div></td>
            </tr>
        </table>
    </div>
</div>


<div id="B" class="@(choice == "B" ? "visible" : "hidden")">

    <img src="~/Content/income_1B.jpg">

    <h3> Impact of your choice </h3>


    <p>
        Because Giga-Mart's credit limit is higher, they are allowed to owe more money to The Cool Connection.<br>


        This leads to more products sold to Giga-Mart.Because The Cool Connection has extended more credit to the customer,<br>
        there is more need for emergency loans. Furthermore, The Cool Conection's credit risk has increased, consequently <br>

        the credit insurer will charge a higher premium for the credit insurance.<br><br>
        Note that the amount of products sold has increased by a lot.Make sure to increase production to avoid penalties for not being able to deliver sold goods.
    </p>

    <table style="width:50%;">
        <tr>
            <td></td>
            <td><b>Prediction</b></td>
            <td><b>Reality</b></td>
        </tr>
        <tr>
            <td><b>Financing Needs</b></td>
            <td><div>@Model.FinancingNeeds</div></td>
            <td><div>@Model.RealFinancingNeeds</div></td>
        </tr>
        <tr>
            <td><b>Sales Price</b></td>
            <td><div>@Model.SalesPrice</div></td>
            <td><div>@Model.RealSalesPrice</div></td>
        <tr>
            <td><b>Insurance Costs</b></td>
            <td><div>@Model.InsuranceCosts</div></td>
            <td><div>@Model.RealInsuranceCosts</div></td>
        </tr>
    </table>
</div>


<div id="C" class="@(choice == "C" ? "visible" : "hidden")">

    <img src="~/Content/income_1C.jpg">

    <h3> Impact of your choice </h3>

    <p>
        Accepting supply chain finance allows Giga-Mart to fully realise
        it's potential demand on The Cool Connection.<br> However, accepting


        supply chain finance lowers the contract index.This choice also
        results in less credit risk<br> which means the credit insurance costs
        will go down. You will receive payments earlier, reducing the need


        for high cost emergency loans.<br><br> Note that the amount of products

        sold has increased by a lot.Make sure to increase production to avoid

        penalties for not being able to deliver sold goods.";
    </p>

    <div>
        <table style="width:50%;">
            <tr>
                <td></td>
                <td><b>Prediction</b></td>
                <td><b>Reality</b></td>
            </tr>
            <tr>
                <td><b>Financing Needs</b></td>
                <td><div>@Model.FinancingNeeds</div></td>
                <td><div>@Model.RealFinancingNeeds</div></td>
            </tr>
            <tr>
                <td><b>Sales Price</b></td>
                <td><div>@Model.SalesPrice</div></td>
                <td><div>@Model.RealSalesPrice</div></td>
            <tr>
                <td><b>Insurance Costs</b></td>
                <td><div>@Model.InsuranceCosts</div></td>
                <td><div>@Model.RealInsuranceCosts</div></td>
            </tr>
        </table>
    </div>
</div>


<div id="NoInput" class="@(choice == "" ? "visible" : "hidden")"><br />
    We have not received any input, go back to the hub and try again.
</div>


<div>
    <br />
    <br />
    <button onclick="location.href='/Home/Start'">back to the hub</button>
</div>
