﻿@model WebApplication1.Models.ProductionDecisionModel


<head>
    <style type="text/css">
        .hidden {
            display: none;
        }

        .visible {
            display: block;
        }
        td, th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
    </style>
</head>

@*This is the html code for the Dillema 1 page*@
<div id="1" class="hidden">
<h2>Dilemma 1</h2>
<div>The Cool Connection is not fully realising the potential demand of their biggest customer, Giga-Mart. Giga-Mart is ristricted by their credit limit to The Cool Connection. How to solve this issue?</div>
<br />
<div>You can choose to agree with Giga-Mart that they pay earlier, to increase the credit limit with 80% or to accept supplier financing programme. Base your decision on the information provided below.</div><br />
@using (Html.BeginForm("CreditLimitProblem", "Home"))
{
    <label for="choice" style="margin-right:10px;">Payement term down from 7 weeks to 4 weeks </label>
    <input type="radio" name="choice" value="A" required /><br />
    <label for="choice" style="margin-right:136px;">Increase credit limit by 80%</label>
    <input type="radio" name="choice" value="B" /><br />
    <label for="choice" style="margin-right:65px;">Accept supplier financing programme</label>
    <input type="radio" name="choice" value="C" /><br><br>

    <table border="0" cellpadding="10" cellspacing="0" align="left">
        <tr>
            <td><img src="~/Content/Info1.jpg" style="width:400px;height:350px;"/></td>
            <td><img src="~/Content/info.jpg" /></td>
        </tr>
    </table>
    <br />

    <div>Now that you've made your choice, you can try to predict the impact that your choice will have on the financing needs, sales price and insurance costs.</div><br />

    <table>
        <tr>
            <th></th>
            <th>Decrease</th>       <th>Equal</th>      <th>Increase</th>
        </tr>
        <tr>
            <td style="text-align:left;"><label for="FinancingNeeds">Financing needs</label></td>        <td><input type="radio" name="FinancingNeeds" value="Decrease" required></td>      <td><input type="radio" name="FinancingNeeds" value="Equal"></td>        <td><input type="radio" name="FinancingNeeds" value="Increase"></td>
        </tr>
        <tr>
            <td style="text-align:left;"><label for="SalesPrice">Sales price </label></td>       <td><input type="radio" name="SalesPrice" value="Decrease" required></td>       <td><input type="radio" name="SalesPrice" value="Equal"></td>       <td><input type="radio" name="SalesPrice" value="Increase"></td>
        </tr>
        <tr>
            <td style="text-align:left;"><label for="InsuranceCosts">Insurance costs</label></td>        <td><input type="radio" name="InsuranceCosts" value="Decrease" required></td>       <td><input type="radio" name="InsuranceCosts" value="Equal"></td>       <td><input type="radio" name="InsuranceCosts" value="Increase"></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" value="submit"/></td>
        </tr>
    </table>
    <br />
    <br />
}
</div>

@*This is the html code for the Dillema 2 page*@
<div id="2" class="hidden">
<h1> Teaser Game </h1>

<h3> Dilemma 2</h3>
Some decisions have to be made around another customer, Buns 'n Braids. However, some decisions do not go well together. Can you spot the strategie(s) with conflicting decisions?

<h3> Info </h3>
    <table border="0" cellpadding="10" cellspacing="0" align="left">
        <tr>
            <td><img src="~/Content/info.jpg" style="width:1000px;height:600px;"></td>
            <td><img src="~/Content/info2.jpg" style="width:450px;height:400px;"></td>
        </tr>
    </table>
<br>
<div>The current state is: Delivery Duty Paid, +0%, Letter of Credit.</div>
<br>

@using (Html.BeginForm("AlignmentProblem", "Home")) {
    <div>Tick a box if you suspect that the different decisions don't align well.</div>
    <br />
    <div>
    <table style="width:50%;">
        <tr>
            <td></td>
            <td>INCO - term</td>
            <td>Credit limit</td>
            <td>Payment Instrument</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="1"></td>
            <td>Cost Insurance and Freight</td>
            <td>+80 %</td>
            <td>Electronic Bank Transfer</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="2"></td>
            <td>Ex Works</td>
            <td>+80 %</td>
            <td>Cheque</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="3"></td>
            <td>Ex Works</td>
            <td>+40 %</td>
            <td>Letter of Credit</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="4"></td>
            <td>Free on Board</td>
            <td>+0 %</td>
            <td>Letter of Credit</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="5"></td>
            <td>Free on Board</td>
            <td>+60 %</td>
            <td>Cheque</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="6"></td>
            <td>Delivery Duty Paid</td>
            <td>+0 %</td>
            <td>Electronic Bank Transfer</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="7"></td>
            <td>Delivery Duty Paid</td>
            <td>+0 %</td>
            <td>Cheque</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="choice" value="8"></td>
            <td>Cost Insurance and Freight</td>
            <td>+20 %</td>
            <td>Electronic Bank Transfer</td>
        </tr>
        <tr><td><input type="hidden" name="choice" value="9" checked/></td></tr>
    </table>
    </div>
    <input type="submit" name="submit" value="submit">
}

<br />
</div>

@*This is the html code for the Dillema 3 page*@
<div id="3" class="hidden">
    After your actions in the previous round, Giga-Mart's demand has increased by a lot.<br>
    We are going to look at three products, CoolClassic Lemon, CoolCare and CoolCondition.<br>
    You will need to make some changes in production to be able to cover this increased demand.<br>
    You will decide on the safety stock and the production interval and do so with minimal costs in mind.<br>



@using (Html.BeginForm("ProductionProblem", "Home"))
{
    <div>
        <img src="~/Content/Demand.jpg" style="width:500px;height:250px;margin-left:20px;">
        <p style="margin-left:150px;">Average demand per day is 62,309 pieces.</p>
        <table style="width:42%;align-items:center;">
            <tr>
                <td>
                    <div style="margin-left:145px;">Saftey Stock</div>
                </td>
                <td>
                    <div style="margin-left:20px;">Production Interval</div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" name="SafetyStockLemon" value="1.0" min="0.0" max="5.0" step="0.5" style="margin-left:150px;" />
                </td>
                <td>
                    <input type="number" name="ProductionIntervalLemon" value="3" min="1" max="10" style="margin-left: 50px;" />
                </td>
            </tr>
        </table>
    </div>
        <br />
    <div>
        <img src="~/Content/Demand2.jpg" style="width:500px;height:250px;margin-left:20px;">
        <p style="margin-left:150px;">Average demand per day is 5,442 pieces.</p>
        <table style="width:42%;align-items:center;">
            <tr>
                <td>
                    <div style="margin-left:145px;">Saftey Stock</div>
                </td>
                <td>
                    <div style="margin-left:20px;">Production Interval</div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" name="SafetyStockCare" value="1.0" min="0.0" max="5.0" step="0.5" style="margin-left:150px;" />
                </td>
                <td>
                    <input type="number" name="ProductionIntervalCare" value="3" min="1" max="10" style="margin-left: 50px;" />
                </td>
            </tr>
        </table>
    </div>
        <br>
    <div>
        <img src="~/Content/Demand3.jpg" style="width:500px;height:250px;margin-left:20px;">
        <p style="margin-left:150px;">Average demand per day is 23,115 pieces.</p>
        <table style="width:42%;align-items:center;">
            <tr>
                <td>
                    <div style="margin-left:145px;">Saftey Stock</div>
                </td>
                <td>
                    <div style="margin-left:20px;">Production Interval</div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="number" name="SafetyStockCondition" value="1.0" min="0.0" max="5.0" step="0.5" style="margin-left:150px;" />
                </td>
                <td>
                    <input type="number" name="ProductionIntervalCondition" value="3" min="1" max="10" style="margin-left: 50px;" />
                </td>
            </tr>
        </table>
    </div>
        <br>
        <input type="submit"  name="submit" style="margin-left: 240px;">
}

</div>

@*This is the html code for the Dillema 4 page*@
<div id="4" class="hidden">
    <h2>Dilemma 4</h2> 
    
    @using (Html.BeginForm("PostponementProblem", "Home"))
    {
        <table>
            <tr>
                <td><input type="checkbox" name="Consequence" value="1" /></td>
                <td>...</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="Consequence" value="2" /></td>
                <td>...</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="Consequence" value="2" /></td>
                <td>...</td>
            </tr>
            <tr>
                <td><input type="checkbox" name="Consequence" value="4" /></td>
                <td>...</td>
            </tr>
        </table>

        <img src="~/Content/SupplierFinancial.jpg" />
        <br />
        <input required type="radio" name="choice" value="A" />
        <input type="radio" name="choice" value="B" />
        <input type="radio" name="choice" value="C" />

        <input type="submit" value="submit" />
    } 
</div >

@*This is the html code for the Dillema 5 page*@
<div id="5" class="hidden">

</div>

@*This is the html code for the Dillema 6 page*@
<div id="6" class="hidden">

</div>

@*scripts*@
<script>
    id = @ViewBag.id;
    document.getElementById(id).setAttribute('class', 'visible');
</script>
