﻿@model WebApplication1.Models.ProductionFeedbackModel


@{
    ViewBag.Title = "Feedback3";
}


<h2>Feedback 3</h2>

@{
    String product = "";
    for (int i = 0; i < 3; i++)
    {
        switch (i)
        {
            case 0:
                product = "CoolClassic Lemon";
                break;
            case 1:
                product = "CoolCare";
                break;
            case 2:
                product = "CoolCondition";
                break;
        }
        <div style="border:2px solid black;margin:5px;">
            
            <br />With the chosen safety stock and production interval for @product your costs and service level become: <br />
            <label> Costs: </label> @Model.Cost[i]<br />
            <label> ServiceLevel: </label> @Model.ServiceLevel[i] <br />

            @{
                if (@Model.AdequateService[i])
                {
                    if (@Model.CostMinimized[i])
                    {
                        <div>
                            You have achieved minimal costs at a high enough service level, Good Job! <br />
                        </div>
                    }
                    else
                    {
                        <div>
                            You have reached a service level that meets the agreements, but your costs can be lower. Feel free to try again!<br />
                        </div>
                    }
                }
                else
                {
                    <div>
                        You have not reached a high enough service level. Feel free to try again!<br />
                    </div>
                }
            }
        </div>
                }
}


<div id="NoInput" class="@(Model.Cost[0] == 0 ? "visible" : "hidden")">
    <br />
    We have not received any input, go back to the hub and try again.
</div>


<div>
    <br />
    <br />
    <button onclick="location.href='/Home/Start'">back to the hub</button>
</div>

